  body {
        text-align: center;
        padding: 0;
        margin-left: 20px;
      }

body {
    background-image: url(https://images.pexels.com/photos/2344227/pexels-photo-2344227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
h1 {
    text-align: center;
    background-color: white;
    color: tomato;
    font-family: 'Montserrat', sans-serif;
  
}
button:hover {
    font-family: 'Lobster', cursive;
    color: rgb(225, 232, 243);
    background-color: teal;
}

section div {
    padding: 2px;
    float: left;
    width: 30%;
    margin-right:10px;
    
  }


  img {
    max-height: 200px;
    max-width: 100%;
    
  }

  .but {
      background-color: darkgoldenrod;
      color: darkgray;
  }